body{
    font-size: 1rem;
    font-weight: 200;
    border: hotpink;
    border-radius: 5px;
    max-width: 60%;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn5XJUeKJKbFYwnURc8at8BJMWBDNCLVeNgg&usqp=CAU);
}
h1,p,h3{
    text-transform: capitalize;
    text-decoration: rgba(0, 0, 0, 0.781);
    text-align: center;
}
form{
    background-color: rgba(0, 0, 139, 0.623);
    padding: 2.5rem 0.6rem;
    border-radius: 0.25rem;
}
#form-group1 label{
    display: block;
    border-radius: 5px;
}